{{>layout/header}}
<h4>개별 목표 가입 신청 인원 목록</h4>

<li>1: 가입 신청 사유 <a href="#">가입 수락하기</a></li>
<li>2: 가입 신청 사유 <a href="#">가입 수락하기</a></li>
<li>3: 가입 신청 사유 <a href="#">가입 수락하기</a></li>

{{>layout/footer}}