{{>layout/header}}
<div class="container">
<br>
<p class="font-weight-light fs-4 mb-3">GKeeper에서는 총 ##개의 목표가 진행 중이고, ###명이 참여하고 있어요!
<br>
당신의 열정을 깨워줄 새로운 목표를 찾아보세요!</p>
<br>
<strong class="fs-5">우수 참여 목표</strong>
<br><br>
    <!-- Swiper -->
    <div class="swiper mySwiper mb-5">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
        <div class="card" style="width:400px">
  <img class="card-img-top" src="https://homepage.cnu.ac.kr/_custom/cnu/resource/img/tmp_gallery.png" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">John Doe</h4>
    <p class="card-text">Some example text.</p>
    <a href="#" class="btn btn-primary">See Profile</a>
  </div>
</div>
</div>
        <div class="swiper-slide">
<div class="card" style="width:400px">
  <img class="card-img-top" src="https://homepage.cnu.ac.kr/_custom/cnu/resource/img/tmp_gallery.png" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">John Doe</h4>
    <p class="card-text">Some example text.</p>
    <a href="#" class="btn btn-primary">See Profile</a>
  </div>
</div>
</div>
        <div class="swiper-slide">
        <div class="card" style="width:400px">
  <img class="card-img-top" src="https://homepage.cnu.ac.kr/_custom/cnu/resource/img/tmp_gallery.png" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">John Doe</h4>
    <p class="card-text">Some example text.</p>
    <a href="#" class="btn btn-primary">See Profile</a>
  </div>
</div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>

<br>
<strong class="fs-5">내가 참여 중인 목표</strong>
<br><br>
    <!-- Swiper -->
    <div class="swiper mySwiper mb-5">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
        <div class="card" style="width:400px">
  <img class="card-img-top" src="https://homepage.cnu.ac.kr/_custom/cnu/resource/img/tmp_gallery.png" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">John Doe</h4>
    <p class="card-text">Some example text.</p>
    <a href="#" class="btn btn-primary">See Profile</a>
  </div>
</div>
</div>
<div class="swiper-slide">
        <div class="card" style="width:400px">
  <img class="card-img-top" src="https://homepage.cnu.ac.kr/_custom/cnu/resource/img/tmp_gallery.png" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">John Doe</h4>
    <p class="card-text">Some example text.</p>
    <a href="#" class="btn btn-primary">See Profile</a>
  </div>
</div>
</div>
<div class="swiper-slide">
        <div class="card" style="width:400px">
  <img class="card-img-top" src="https://homepage.cnu.ac.kr/_custom/cnu/resource/img/tmp_gallery.png" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">John Doe</h4>
    <p class="card-text">Some example text.</p>
    <a href="#" class="btn btn-primary">See Profile</a>
  </div>
</div>
</div>
<div class="swiper-slide">
        <div class="card" style="width:400px">
  <img class="card-img-top" src="https://homepage.cnu.ac.kr/_custom/cnu/resource/img/tmp_gallery.png" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">John Doe</h4>
    <p class="card-text">Some example text.</p>
    <a href="#" class="btn btn-primary">See Profile</a>
  </div>
</div>
</div>
        <div class="swiper-slide">
<div class="card" style="width:400px">
  <img class="card-img-top" src="https://homepage.cnu.ac.kr/_custom/cnu/resource/img/tmp_gallery.png" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">John Doe</h4>
    <p class="card-text">Some example text.</p>
    <a href="#" class="btn btn-primary">See Profile</a>
  </div>
</div>
</div>
        <div class="swiper-slide">
        <div class="card" style="width:400px">
  <img class="card-img-top" src="https://homepage.cnu.ac.kr/_custom/cnu/resource/img/tmp_gallery.png" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">John Doe</h4>
    <p class="card-text">Some example text.</p>
    <a href="#" class="btn btn-primary">See Profile</a>
  </div>
</div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    
</div>
{{>layout/footer}}