{{>layout/header}}
<h4>마이페이지</h4>
나의 회원 등급
</br>
<!-- 선호 주제별 진행중 목표 조회 페이지로 이동-->
<li><a href="#">선호 주제 1</a></li>
<li><a href="#">선호 주제 2</a></li>
<li><a href="#">선호 주제 3</a></li>

<li><a href="#">참여 목표 1</a></li>
<li><a href="#">참여 목표 2</a></li>
<li><a href="#">참여 목표 3</a></li>

<li><a href="#">가입 신청 중 목표 1</a></li>
<li><a href="#">가입 신청 중 목표 2</a></li>

{{>layout/footer}}